node_modules/
npm-debug.log
yarn-error.log

dist/
build/
tmp/
out-tsc/
bazel-out/

.angular/
.angular/cache/
.sass-cache/
coverage/
testem.log
__screenshots__/
*.log

.env
.env.local
.env.*.local

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

.DS_Store
Thumbs.db
